.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

/* header */
th {
  background-color: black;
  color: white;
  font-weight: bold;
}

.type {
  text-transform: capitalize;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #68656519;
}
